<div class="push20"></div>
<div class="">
    <div class="text-center bg-info text-light p-3 border-top border-custom border-bottom1 opaque">
      <h3 class="mb-0 text-dark LuckyFont"><b>Change Password</b></h3>
      <div class="mt-2">
        <input class="border-dark p-1" id="oldpassword" type="password" placeholder="Current Password" >
      </div>
      <div class="mt-2">
        <input class="border-dark p-1" id="newpassword1" type="password" placeholder="New Password" >
      </div>
      <div class="mt-2">
        <input class="border-dark p-1" id="newpassword2" type="password" placeholder="Verify New Password" >
      </div>
      <button class="btn btn-success mt-3 border border-dark" id="changepass">Update password</button>
  </div>
</div>