<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="create-event">
							<h2>Enter New Job</h2><br>
							<div class="col-md-12">
								<form action="/...." method="POST">
									<div class="form-group">
										<label for="jobTitle">Job Title</label>
										<input type="text" class="form-control" name="jobTitle" id="jobTitle" placeholder="Job Title">
									</div>
                                    <div class="form-group">
										<label for="company">Company</label>
										<input type="text" class="form-control" name="company" id="company" placeholder="company">
									</div>
                                    <div class="form-group">
										<label for="salary">Salary</label>
										<input type="text" class="form-control" name="salary" id="salary" placeholder="Salary">
									</div>
									<div class="form-group">
										<label for="contactEmail">Contact Email</label>
										<input type="text" class="form-control" name="contactEmail" id="contactEmail" placeholder="Email">
									</div>
                                    <div class="form-group">
										<label for="contactEmail">Contact Phone</label>
										<input type="text" class="form-control" name="contactPhone" id="contactPhone" placeholder="Phone">
									</div>
                                    <div class="form-group">
										<label for="applyBy">Apply By</label>
										<input type="text" class="form-control" name="applyBy" id="applyBy" placeholder="Apply By">
									</div>
                                    <div class="form-group">
										<label for="notes">Notes</label>
										<input type="text" class="form-control" name="notes" id="notes" placeholder="Notes">
									</div>

										<input type="hidden" value="true">
										<button class="btn btn-site btn-sm" type="submit"><a>Submit</a></button>
									</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>