

<div class="push20"></div>
</div>
<div class="text-center bg-info text-light p-3 customBorder opaque">
  <h3 class="mb-0 LuckyFont text-dark">PLEASE SIGN IN</h3>
  <p class="text-dark mb-3">Sign in and get started today!</p>
  <div class="pb-0">
    <input id="usernameSignIn" class="rounded" type="text" placeholder="Username">
  </div>
  <div class="mt-2">
    <input id="passwordSignIn" class="rounded" type="password" placeholder="Your Password...">
  </div>
  <a href="/createProfile" class="link"><p class="text-dark font-weight-bold mt-3">Create FREE Profile</p></a>
  <button class="btn btn-success border border-dark" id="signInBtn">Sign In</button>
</div>



